@charset "UTF-8";

/*********************
 * App Notifications *
 *********************/

.app-notification,
.app-notification.frame {
	@extend %osd;
	padding: 2.5mm;
	border-top-width: 0px;
	border-radius: 0px 0px $r $r;
	&:backdrop {
		background-image: none;
	}
	button {
		@include neobutton(normal);
		&.flat {
			@include neobutton(toolbutton);
		}
	}
	border {
		border: none;
	}
}
